<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <!-- Brand -->
    <a class="navbar-brand" href="/home">SimpleMart</a>
  
    <!-- Links -->
    <ul class="navbar-nav mt-1">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
  
      <li>
          <a class="nav-link" href="/aboutUs">About Us</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/cart" class="nav-link">Cart</a>
        </li>


    </ul>
    </div>
  </nav>
  