{% extends "base.html" %}
{% block title %}Simple Mart{% endblock %}

{% block content %}
<div class="row flow-offset-1">
    <div class="col-xs-6 col-md-3">
        <div class="image">
            <img src="../static/ganyu_stand.jpg" class="img-fluid">
            <div class="caption">
                <h6>Genshin Impact Acrylic Stand</h6>
                <span class="price">$10</span>
                <a href="/purchased1" class="btn btn-primary">Purchase Item</a>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="image">
            <img src="../static/kiana_stand.jpg" class="img-fluid">
            <div class="caption">
                <h6>Honkai Impact Acrylic Stand</h6>
                <span class="price">$15</span>
                <a href="/purchased2" class="btn btn-primary">Purchase Item</a>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="image">
            <img src="../static/levi_stand.jpg" class="img-fluid">
            <div class="caption">
                <h6>Attack on Titial Acrylic Stand</h6>
                <span class="price">$15</span>
                <a href="/purchased3" class="btn btn-primary">Purchase Item</a>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="image">
            <img src="../static/bnha_figurine.jpg" class="img-fluid">
            <div class="caption">
                <h6>Hero Academia Figurine</h6>
                <span class="price">$30</span>
                <a href="/purchased4" class="btn btn-primary">Purchase Item</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}