{% extends "base.html" %}
{% block title %}Payment{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">Payment</h1>

<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.name, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.creditcard, class="form-control") }}
    </div>
    <table>
        <tr>
            <td>
                <div class="form-group">
                    {{ render_field(form.expirydate, class="form-control") }}
                </div>
            </td>
            <td>
                <div class="form-group">
                    {{ render_field(form.cvc, class="form-control") }}
                </div>
            </td>
        </tr>
    </table>
</form>
<a href="/thankyou" class="btn btn-primary">Submit</a>
{% endblock %}